* {
  margin: 0;
  padding: 0;
}

body {
  background: #2e3740;
  color: #435160;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #6d7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #435160;
  text-decoration: none;
}

p {
  font-size: 18px;
}

.login {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -175px;
}

input[type="text"],
input[type="password"] {
  width: 350px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6d7781;
}

label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}

#agree:checked ~ label[for="agree"] {
  background: #435160;
}

input[type="submit"] {
  background: #1fce6d;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #16aa56;
  animation-name: shake;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}

.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6d7781;
}

.agree {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

.animated {
  animation-fill-mode: both;
  margin-top: 20px;
  animation-duration: 1s;
}

.msg {
  font-family: sans-serif;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(245, 107, 107);
}
